<h2>Confirm This Movie</h2>

<%= render partial: "/partials/errors", locals: {errors: @errors} %>

<% if @movie %>

<div class="container">
  <form method="POST" action="/movies">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input type="hidden" name="movie[runtime]" value="<%= @movie.runtime %>">
    <input type="hidden" name="movie[production]" value="<%= @movie.production %>">
    <div class="form-group row">
      <label for="title" class="col-sm-2 col-form-label">Title:</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="movie[title]" value="<%= @movie.title %>">
      </div>
    </div>
    <div class="form-group row">
      <label for="year" class="col-sm-2 col-form-label">Year:</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="movie[year]" value="<%= @movie.year %>">
      </div>
    </div>
    <div class="form-group row">
      <label for="actors" class="col-sm-2 col-form-label">Actors:</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="movie[actors]" value="<%= @movie.actors %>">
      </div>
    </div>
    <div class="form-group row">
      <label for="imdb_rating" class="col-sm-2 col-form-label">IMDB Rating:</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="movie[imdb_rating]" value="<%= @movie.imdb_rating %>">
      </div>
    </div>
    <div class="form-group row">
      <label for="rotten_tomatoes_rating" class="col-sm-2 col-form-label">Rotten Tomatoes Rating:</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="movie[rotten_tomatoes_rating]" value="<%= @movie.rotten_tomatoes_rating %>">
      </div>
    </div>
    <div class="form-group row">
      <label for="plot" class="col-sm-2 col-form-label">Plot:</label>
      <div class="col-sm-10">
        <textarea name="movie[plot]" class="form-control" id="textarea" rows="3"><%= @movie.plot %></textarea>
        <span id="ratingHelpBlock" class="form-text text-muted">All fields required</span>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-success">Everything Looks Good! Save This Movie!</button>
        <span>  <button type="button" class="btn btn-success" onclick="location.href='/movies/new';">Ah, no! Go Back!</button></span>
      </div>
    </div>
  </form>
</div>

<% end %>


