<h2>All Movies</h2>


<p class="center"> Sorting by <%= @sorting_by %> &ensp; <span class="fa fa-snowflake-o"></span> &ensp; Sort by <a href="/movies?sort_by=<%= @sort_by %>"><%= @sort_by %></a> instead?</p>

<ul>
  <% @movies.each do |movie| %>
    <h3><li class="fa fa-tree">  Title:  <%= link_to "#{movie.title}", movie_path(movie.id)  %></li></h3>
    <div class="col-sm-11 center-div">
      <li class="fa fa-snowflake-o">&ensp;<strong>Lorenzini Rating:</strong>
        <%= render partial: "/partials/lorenzini_rating", locals: {movie: movie} %>
      </li>
      <%= render partial: "/partials/movie_details", locals: {movie: movie} %>
    </div>
  <% end %>
</ul>

<div class="center-div"><p class="center"><span class="fa fa-snowflake-o"></span> &ensp; <%= page_entries_info @movies %> &ensp; <span class="fa fa-snowflake-o"></span> <%= paginate @movies, outer_window: 1 %></p></div>

<% if current_user %>
    <%= link_to "Add a movie?", new_movie_path %>
<% end %>