<h2>Search Results</h2>

<div class="errors">
    <% if flash[:notice] %>
      <ul>
        <li><%= flash[:notice] %></li>
      <ul>
    <% end %>
</div>

<ul>
  <% @movies.each do |movie| %>
    <h3><li class="fa fa-tree">  Title:  <%= link_to "#{movie.title}", movie_path(movie.id)  %></li></h3>
    <li class="fa fa-snowflake-o"><strong> Year:</strong> <%= movie.year  %></li>
    <br><li class="fa fa-snowflake-o"><strong> Main Actors:</strong> <%= movie.actors  %></li>
    <br><li class="fa fa-snowflake-o"><strong> IMDB Rating:</strong> <%= movie.imdb_rating  %></li>
    <br><li class="fa fa-snowflake-o"><strong> Rotten Tomatoes Rating: </strong><%= movie.rotten_tomatoes_rating  %></li>
    <br><li class="fa fa-snowflake-o"><strong> Lorenzini Rating:</strong> <%= movie.lorenzini_rating  %></li>
    <br><li class="fa fa-snowflake-o"><strong> Plot:</strong> <%= movie.short_summary  %></li><br>
    <br>
  <% end %>
</ul>