<h2><%= @movie.title %></h2>

<ul>
  <div id="show_movie_details">
    <li class="fa fa-snowflake-o">&ensp;<strong>Lorenzini Rating:</strong>
      <span id="lorenzini_rating_partial"><%= render partial: "/partials/lorenzini_rating", locals: {movie: @movie} %></span>
    </li>
    <%= render partial: "/partials/movie_details", locals: {movie: @movie} %>
  </div>
</ul>

<h3> Rate this movie </h3>
  <div class="ratings">
    <%= render partial: "/partials/ratings_form" %>
    <%= render partial: "/partials/errors", locals: {errors: @errors} %>
  </div>

<h3>Ratings for This Movie</h3>
<div class="flex flex-column">
<ul class="list" id="ratings-list">
  <% if @movie.ratings.empty? %>
    There are no ratings yet :(
  <% else %>
      <%= render partial: "/partials/ratings" %>
  <% end %>
</ul>
</div>

<% if admin_user %>
  <%= link_to 'Delete this movie?',  movie_path(@movie),
    data: { confirm: 'Are you sure?' }, method: :delete %>
<% end %>
