<h2><%= @movie.title %></h2>

<ul>
  <li><strong>Year:</strong>  <%= @movie.year  %></li>
  <li><strong>Main Actors:</strong>  <%= @movie.actors  %></li>
  <li><strong>IMDB Rating:</strong>  <%= @movie.imdb_rating  %></li>
  <li><strong>Rotten Tomatoes Rating:</strong>  <%= @movie.rotten_tomatoes_rating  %></li>
  <li><strong>Lorenzini Rating:</strong>  <span class= "lr"><%= @movie.lorenzini_rating  %></span></li>
  <li><strong>Plot:</strong>  <%= @movie.plot  %></li>
  <br>
</ul>

<h3> Rate this movie </h3>
  <div class="ratings">
    <%= render partial: "/partials/ratings" %>
    <% if @errors %>
      <%= render partial: "/partials/errors", locals: {errors: @errors} %>
    <% end %>
  </div>

<h3>Ratings for This Movie</h3>
<ul>
  <% if @movie.ratings.empty? %>
    There are no ratings yet :(
  <% else %>
    <% @movie.ratings.each do |rating| %>
      <li class="fa fa-tree"><strong> <%= rating.user.username %></strong> says:
      <% if rating.value >= 1 %>
        <i class="fa fa-thumbs-up" aria-hidden="true"></i></li> </li>
      <% else %>
        <i class="fa fa-thumbs-down" aria-hidden="true"></i></li> </li>
      <% end %>
    <br><li class="fa fa-snowflake-o"> <%= rating.review %></li>
    <br>
    <% end %>
  <% end %>
</ul>
