<h2><%= @movie.title %></h2>

<ul>
  <br>
  <li class="fa fa-snowflake-o"><strong> Year:</strong>  <%= @movie.year  %></li>
  <br><li class="fa fa-snowflake-o"><strong> Main Actors:</strong>  <%= @movie.actors  %></li>
  <br><li class="fa fa-snowflake-o"><strong> IMDB Rating:</strong>  <%= @movie.imdb_rating  %></li>
  <br><li class="fa fa-snowflake-o"><strong> Rotten Tomatoes Rating:</strong>  <%= @movie.rotten_tomatoes_rating  %></li>
  <br><li class="fa fa-snowflake-o"><strong> Lorenzini Rating:</strong>  <span class= "lr"><%= @movie.lorenzini_rating  %></span></li>
  <br><li class="fa fa-snowflake-o"><strong> Plot:</strong>  <%= @movie.plot  %></li>
  <br>
</ul>

<h3> Rate this movie </h3>
  <div class="ratings">
    <%= render partial: "/partials/ratings" %>
    <% if @errors %>
      <%= render partial: "/partials/errors", locals: {errors: @errors} %>
    <% end %>
    <% if flash[:notice] %>
      <ul>
        <li><%= flash[:notice] %></li>
      </ul>
    <% end %>
  </div>

<h3>Ratings for This Movie</h3>
<ul>
  <% if @movie.ratings.empty? %>
    There are no ratings yet :(
  <% else %>
    <% @movie.ratings.each do |rating| %>
      <br><li class="fa fa-tree"><strong> <%= rating.user.username %></strong> says:
        <% rating.value.times do %>
          <span class= "fa fa-bell"></span>
        <% end %>
        <% empty_stars = 5 - rating.value %>
        <% empty_stars.times do %>
          <span class="fa fa-bell-o"></span>
          <% end %>
        </li>
    <br><li class="fa fa-snowflake-o"> <%= rating.review %></li>
    <br>
    <% end %>
  <% end %>
</ul>

<% if admin_user %>
  <%= link_to 'Delete this movie?',  movie_path(@movie),
    data: { confirm: 'Are you sure?' }, method: :delete %>
<% end %>
