<!DOCTYPE html>
<html>
  <head>
    <title>Lcmdb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>


    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
  </head>

  <body id= "bootstrap_overrides">
      <div id="main-layout-container" class="container-fluid">
        <h1 id="main-header">The Lorenzini Christmas Movie Database</h1>
        <%= render partial: 'partials/navigation' %>
    <%= yield %>
      </div>
  </body>
</html>
